<?xml version="1.0" encoding="utf-8"?>
<root>

	<!-- 此配置文件大小写敏感
	 带s的子项可以配置多个
	  例如： <rooms>中的<room>
	       <xiazhus>中的<xiazhu>
	
	
	 -->

	<game><!-- 游戏配置区域 -->

		<laba x="5" y="40"></laba> <!-- 喇叭文字长度限制 x~y -->

		<daxiaoMax value="5"></daxiaoMax> <!-- 猜大小次数 -->
		<daxiaoJilv>                      <!-- 猜大小几率。 需要与次数对应 -->
			<e>50</e>
			<e>40</e>
			<e>30</e>
			<e>20</e>
			<e>10</e>
		</daxiaoJilv>
	</game>



	<!-- 所有房间配置 
	 id: 房间唯一id, 与网页中的id要一一对应 
	 name: 房间名
     open: true为开放，	 其他值为不开放 
	  
	房间状态     open值       影响 
	running  true     无 
	closing  true     取消关闭房间 
	closed   true     开启房间 
	running  false    关闭房间 
	closing  false    无
	closed   false    无
	 
	gonggao 公告 -->
	<rooms>
		<room id="1" name="低倍场" open="true" gonggao="hello">

			<jianjie>简介</jianjie>   <!-- 游戏简介 -->

			<zuobi pond="50000000"></zuobi>
			<!-- 单局作弊设置，当单局下注第一的权值 > pond时，则开启作弊 
			权值： 下注货币 * 比例 
			例如排第一的玩家下注，100金，10000银， 
				权值 = 100*1000+10000*100
				 -->

			<updateXiaList>3</updateXiaList>
			<!-- 下注排行榜，下注列表更新时间(秒) -->
			<updateTop>5</updateTop>
			<!-- 更新排行榜局数 -->
			<saveAll>10</saveAll>
			<!-- 保存所有用户局数 -->
			
			<RoomConst><!-- 房间时间配置(秒，从1开始) -->
			<xiazhuend>27</xiazhuend><!-- 下注结束时间 (服务器开始计算开奖结果)-->
			<jiesuan>30</jiesuan><!-- 服务端发送给客户端结果 -->
			<result>40</result>  <!-- 用户看到结果的时间，此值仅仅影响机器人发言时间 -->
			<roomend>53</roomend> <!--到了这个时间后，重新开局(特殊结果会加时间)  -->
			</RoomConst>
			

			<!-- ai配置 -->
			<!-- on 是否开启ai (当此值由 true变成false时，已经加入战场的ai不会被移除) 
			addAiX,addAiY,加入战场的随机ai数量
			(当配置文件刷新时，如果房间存活ai < 随机数),会加入新的ai -->
			<ai on="true" addAiX="20" addAiY="30">

				<autotalk on="true"> <!-- AI自动发言配置 -->
					<delay x="1" y="2"></delay> <!-- 发言局数间隔 x~y -->
					<jilv x="10" y="15"></jilv> <!-- ai发言几率 -->
					<talkDelay x="1000" y="1500"></talkDelay><!-- ai发言间隔(毫秒) -->
				</autotalk>

				<!-- AI自动下注配置 -->
				<!-- startTimex,startTimey 开局多久后下注 x~y numx,numy 单局下注次数 x~y jilv 下注成功几率 -->
				<xiazhus on="true">
					<xiazhu startTimex="10" startTimey="11" numx="1" numy="1"
						jilv="30">
						<e type="1" count="500"></e><!-- type 下注类型，count 下注数量 -->
						<e type="1" count="500"></e>
						<e type="1" count="500"></e>
						<e type="1" count="500"></e>
						<e type="1" count="500"></e>
						<e type="1" count="500"></e>
					</xiazhu>
				</xiazhus>
			</ai>

			<!-- 英雄列表(下注区域) -->
			<!-- hid(id),name(名称),jilv(几率),bei(倍数) -->
			<hero>
				<e hid="1" name="白男" jilv="15" bei="4" />
				<e hid="2" name="绿男" jilv="20" bei="8" />
				<e hid="3" name="黄男" jilv="30" bei="12" />
				<e hid="4" name="紫男" jilv="10" bei="24" />
				<e hid="5" name="黑马" jilv="30" bei="30" />
				<e hid="6" name="紫女" jilv="20" bei="24" />
				<e hid="7" name="黄女" jilv="15" bei="12" />
				<e hid="8" name="绿女" jilv="10" bei="8" />
				<e hid="9" name="白女" jilv="3" bei="4" />
			</hero>

			<!-- 英雄位置(如无必要，请勿更改) -->
			<heroIds value="9,7,8,1,6,2,9,4,2,3,1,5,9,7,8,1,6,8,9,4,2,3,1,10">
			</heroIds>

			<!-- 奖池配置
			 minx~miny 奖池最小值 
			 maxx~maxy 奖池最大值
			  start 奖池起始值
			   -->
			<jiangchi minx="120000" miny="240000" maxx="888888" maxy="999999"
				start="100000">
			</jiangchi>

			<!-- boss配置 
			jilvx 作弊时几率，jilvy非作弊时几率,
			 x~y 倍数
			  -->
			<boss id="5" name="boss" jilvx="15" jilvy="15" x="30" y="99"></boss>

			<!-- 宝箱配置
			 jilvx,jilvy同boss 
			 x~y倍数或数量 -->
			<baoxiang jilvx="15" jilvy="15">
				<e id="1" name="火车" jilvx="15" jilvy="15" x="3" y="3"></e>
				<e id="2" name="多倍" jilvx="15" jilvy="15" x="2" y="4"></e>
				<e id="3" name="手枪" jilvx="15" jilvy="15" x="2" y="4"></e>
				<e id="4" name="通杀" jilvx="15" jilvy="15"></e>
			</baoxiang>


		</room>
	</rooms>
</root>